nav{
    background-color: rgb(21, 103, 255);
    color: white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    height: 600px;
    justify-content: space-around;
    align-items: center;

}
    .spider{

    }
    .play{
        width: 60px;
        height: 60px;
    }
    ul{
        display: flex;
        justify-content: space-around;
        gap: 40px;
    }
    button{
  
     width: 80px;
     height: 20px;
     border-radius: 30px;
     background-color: rgb(255, 153, 0);
     color: white;
}
     li{
        list-style: none;
}