nav{
    background-color: black;
    color: white;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
     width: 150px;
     height: 100px;
     border-radius: 25%;
     
    }
    button{
        height: 35px;
        align-items: center;
        border-radius: 10px;
        margin-right: 30px;
    }
    ul{
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
}
li{
    list-style: none;
}